.wrapper {
  max-width: 480px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
}

/* Input search style  */
.inputWrapper {
  height: 3.25rem;
  width: 100%;
  padding: 0 1.5rem;
  box-sizing: border-box;

  display: flex;
  gap: 1.5rem;
  align-items: center;

  z-index: 3;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputSearch {
  width: 100%;
  background: transparent;
  outline: none;
  border: 0px;

  color: var(--text-white);
  opacity: 1;
  z-index: 10;
  filter: brightness(1);
}

.line {
  height: 2rem;
  width: 1px;
  background-color: var(--tex-gray);
  border: 1px solid;
}

/* Search Box style  */
.searchResult {
  z-index: 3;
  width: 100%;
}

.searchResultList {
  padding: 1px;
}

.searchResultItem {
  height: 3.75rem;
  padding: 1.5rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
}

.searchResultItem:hover {
  background-color: var(--bg-primary-hover);
}

.searchResultItem:last-child:hover {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.searchResultItem:first-child:hover {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.searchResultItem p {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.searchResultItem p:first-child {
  color: var(--text-white);
}

.searchResultItem p:last-child {
  font-size: 0.875rem;
  color: var(--tex-gray);
}