.inputWrapper {
  position: relative;
  height: 3.25rem;
  max-width: 480px;
  padding: 0 1.5rem;

  display: flex;
  gap: 1.5rem;
  align-items: center;

  border-radius: var(--border-radius);
  z-index: 1;

  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(262.07deg,
      #F8E4BE 14.64%,
      #FFF3E0 40.26%,
      #FFF8E8 62%,
      #DFC39D 93.82%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

.inputSearch {
  width: 100%;
  background: transparent;
  outline: none;
  border: 0px;

  color: var(--text-white);
  opacity: 1;
  z-index: 10;
}

.line {
  height: 2rem;
  width: 1px;
  background-color: var(--tex-gray);
  border: 1px solid;

}